config.*
m4/*.m4

.deps/
.libs/
COPYING
INSTALL
Makefile
Makefile.in
Thread.lo
Thread.o
aclocal.m4
autom4te.cache/
compile
configure
configure~
depcomp
install-sh
install-sh~
libthread.la
libtool
ltmain.sh
missing
stamp-h1
